<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test-One">
		<groups>
			<run>
				<include name="regression" />
			</run>
		</groups>
		<classes>
			<class name="com.app.test.LoginTest" />
			<class name="com.app.test.SecondTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test-Two">
		<classes>
			<class name="com.app.test.ThirdTest" />
		</classes>
	</test> <!-- Test -->	
</suite> <!-- Suite -->